*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex-container{
    /* We first create a flex layout context */
    display: flex;

    /* Then we define the flow direction and if we allow the items to wrap  */
    /* The above is also the same flex-direction: row; or flex-wrap: wrap */
    flex-flow: row wrap;

    /* Then we define how is distributed the remaining space */
    /* justify-content: space-around; */

    padding: 0;
    /* margin: 0; */
    list-style-type: none;

}

.flex-item{
    margin: 10px;
}

.flex-item{
    width: 400px;
    background: tomato;
    height: 150px;
    color: white;
    margin-top: 10px;
    line-height: 150px;
    font-weight: bold;
    font-size: 3em;
    text-align: center;   

}

.flex-item:nth-child(2){
    height: 300px;
}

.flex-item:nth-child(5){
    height: 300px;
}

.flex-item:nth-child(13){
    height: 300px;
}

.flex-item:nth-child(14){
    height: 300px;
}

.flex-item:nth-child(15){
    background: white;
}

.flex-item:nth-child(17){
    height: 300px;
}

.flex-item:nth-child(44){
    background: white;
}

.flex-item:nth-child(45){
    background: white;
}
