*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flexcontainer{
    width: 100%;
    display: flex;
    background: whitesmoke;
    color: purple;
}

.left{
    width: 80%;
    display: flex;
    /* gap: 12px; */
}

.left .class:nth-child(1){
    font-weight: bold;
    font-size: 25px;
    font-style: italic;
    color: rgb(106, 7, 106);
}

.right{
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

.class{
    padding: 15px;
}

.right .class:nth-child(1){
    margin-top: 4px;
    background: purple;
    border: 1px solid;
    height: 45px;
    color: white;
    border-radius: 10px;
}

.right .class:nth-child(2){
    margin-top: 4px;
    background: purple;
    border: 1px solid;
    height: 45px;
    color: white;
    border-radius: 30px;
}