*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 20px;
    font: 1em Helvetica Neue, Helvetica, Arial, sans-serif;
}

p{
    margin: 0 0 1em 0;
}

.container{
    border: 5px solid rgb(124, 3, 122);
    border-radius: .5em;
    padding: 20px;
    margin-top: 20px;
    width: 50%; 
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}

.item{
    padding: 5px;
    border: 2px solid rgb(124, 3, 122);
    background: rgba(65, 54, 63, 0.3);
    width: 100%;
    flex: 1 1 auto;
}