ul {
   display: flex;
   justify-content: space-around;
}

.deco {
    /* width: 80px; */
   flex: auto;

    background-color: orange;
    /* padding: 15px; */
    /* color: white; */

    
}

/* .deco:hover{
    background-color: blue;
} */