*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    margin-top: 20px;
}

#flex-container{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.animalsanimal-1{
    color: green;
    order: 4;
}

.animalsanimal-2{
    color: red;
    order: 2;
}

.animalsanimal-3{
    color: purple;
}

.animalsanimal-4{
    color: yellow;
}