*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
}

img{
    width: 100px;
    height: 100px;
}

.title{
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}

.info{
    max-width: 200px;
}

.container{
    display: flex;
    justify-content: center;
    gap: 52px;
}