*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fd4e4e;
   
}

.container{
    display: flex;
    /* border: 1px solid; */
    width: 800px;
    height: 500px;
    margin: auto;
    margin-top: 40px;
}

.form{
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: whitesmoke;
    align-items: center;
}

.form h2{
    font-size: 50px;   
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 30px;
}

.box{
    width: 280px;
    padding: 15px;
    margin: 15px;
    border-radius: 20px;
}

.sign{
    width: 170px;
    padding: 5px;
    border-radius: 20px;
    background-color: black;
    color: white;
}

.slide{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #750000;
}

img{
    width: 150px;
    height: 150px;
}