/* lets arrange our nav items :horizontal */

nav{
  background-color: rgb(229, 238, 238);
  padding: 5px;
  height: 40px;
}

ul{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    margin-right: 95px;
}

li{
    color: blue;
    list-style-type: none;
    
}

.Book{
    margin-right: auto;
    
}

img{
    max-width: 80px;
}

.home{
    color: rgb(245, 109, 4);
    
}

